<ng-container *ngIf="storeCategories$ | async as storeCategories">
  <form [formGroup]="formCategories">
    <ng-container *ngIf="true">
      <!--        <ng-container *ngIf="isAdmin && isEdit"></ng-container>-->
      <div class="edit-wrapper">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="setCreateCategoryModal(true)">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-buttons slot="end">
            <ng-container *ngIf="isEditing; else edit">
              <ion-button (click)="toggleEditing()">
                <ion-icon name="checkmark-outline"></ion-icon>
              </ion-button>
            </ng-container>
            <ng-template #edit>
              <ion-button (click)="toggleEditing()">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            </ng-template>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </ng-container>

    <ion-alert
      [isOpen]="isAlertOpen"
      [header]="'Want to delete ' + currentCategoryToDelete?.name + ' category?'"
      [buttons]="alertButtons"
      (didDismiss)="setAlertOpen(false)"
    ></ion-alert>

    <app-category-create-modal
      (openToast)="setCategoryToastOpen.emit($event)"
      [isModalOpen]="isCreateCategoryModalOpen"
      (setModalOpen)="setCreateCategoryModal($event)"
    ></app-category-create-modal>

    <ion-list [inset]="true">
      <ion-item *ngFor="let category of storeCategories">
        <ion-label>
          <ion-checkbox
            [ngClass]="{ text: isEditing }"
            [formControlName]="category.id"
            aria-label="Category Checkbox"
          >
            {{ category.name | uppercase }}
          </ion-checkbox>
        </ion-label>

        <span *ngIf="isEditing" class="edit-span">
          <ion-button>
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>

          <ion-button (click)="setAlertOpen(true, category)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </span>


      </ion-item>
    </ion-list>

    <ion-button
      class="ion-padding"
      color="primary"
      expand="block"
      [disabled]="isEditing"
      (click)="clearCategories()"
    >
      Clear Categories
    </ion-button>
  </form>
</ng-container>
