.edit-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.edit-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

p {
  padding: 0 5px;
}

.text {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    scale: 1;
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
