<ion-card class="product-card">
  <ion-card-header>
    <ion-card-title>{{ product.name }}</ion-card-title>
    <ion-card-subtitle>Category: {{ product.category.name | titlecase }}</ion-card-subtitle>
  </ion-card-header>

  <img
    class="product-card__img"
    src="assets/coming-soon-placeholder-squoosh.jpg"
    alt="Image Is Coming Soon"
  />

  <ion-card-content>
    <ion-card-subtitle class="card-description">Description</ion-card-subtitle>
    <p *ngIf="product.description">{{ product.description }}</p>
    <p *ngIf="!product.description">There is no description yet.</p>
    <ion-card-title>Price: {{ product.price | currency:'UAH':'symbol-narrow': '1.0-2' }}
    </ion-card-title>
  </ion-card-content>

  <ng-container *ngIf="isAdmin && isEditing">
    <ng-container *ngIf="isAuth">
      <ion-button fill="clear">Action 1</ion-button>
      <!--      <app-menu-dialog [categories]="categories" [receivedProduct]="product"></app-menu-dialog>-->
      <ion-button fill="clear">Action 2</ion-button>
      <!--      <app-delete-product [receivedProduct]="product"></app-delete-product>-->
    </ng-container>
  </ng-container>
</ion-card>
