<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="navigation-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Products Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-product-search (filter)="menuQueryHandler($event)"></app-product-search>

  <div class="buttons-wrapper ion-padding">
    <ion-button (click)="setOpen(true)">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>

    <!--    <ng-container *ngIf="isAdmin && isEditing">-->
    <ion-button (click)="setCreateProductOpen(true)">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
    <!--    </ng-container>-->
  </div>

  <ion-modal [isOpen]="isFilterModalOpen" (didDismiss)="setOpen(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Select categories</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-category-filter
          (productFilters)="menuCategoriesHandler($event)"
          [isAdmin]="isAdmin"
        ></app-category-filter>
      </ion-content>
    </ng-template>
  </ion-modal>

  <app-product-create-modal
    [isCreateProductModalOpen]="isCreateProductModalOpen"
    [storeCategories]="storeCategories$ | async"
    (setCreateProductOpen)="setCreateProductOpen($event)"
    (setProductToastOpen)="setProductToastOpen(true, $event)"
  ></app-product-create-modal>

  <app-product-edit-modal
    [isProductModalOpen]="isProductModalOpen"
    (setModifyProductOpen)="setModifyProductOpen($event)"
    [storeCategories]="storeCategories$ | async"
    [notify$]="notify$.asObservable()"
    (setProductToast)="setProductToastOpen(true, $event)"
  ></app-product-edit-modal>

  <ng-container *ngIf="storeProducts$ | async as products">
    <ng-container
      *ngIf="
        (isFiltersEmpty$ | async) === false &&
        (storeProductsIsLoading$ | async) === false &&
        !products.length
      "
    >
      <ion-item>
        <div>Sorry, but there are no products that satisfies query or filter...</div>
      </ion-item>
    </ng-container>

    <!--    <div *ngIf="isFiltersEmpty$ | async">No items that corresponds with query or filter!</div>-->
    <ng-container *ngIf="storeHotProducts$ | async as hotProducts">
      <ng-container *ngIf="storeCategories$ | async as storeCategories">
        <ng-container *ngIf="isFiltersEmpty$ | async">
          <div class="category-title">Category: Hot</div>
          <div class="product-wrapper">
            <ion-grid>
              <ion-row>
                <ion-col
                  size="12"
                  size-sm="6"
                  size-lg="4"
                  *ngFor="let product of hotProducts"
                >
                  <app-product-item
                    (openModal)="setModifyProductOpen(true, $event)"
                    [product]="product"
                    [isAuth]="isAuth$ | async"
                    [isAdmin]="isAdmin"
                    [isEditing]="isEditing"
                    [categories]="storeCategories"
                  ></app-product-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container
      *ngFor="let category of storeCategories$ | async as storeCategories"
    >
      <ng-container *ngIf="isAnyProductsWithinCategory(category, products)">
        <div class="category-title">
          Category: {{ category.name | uppercase }}
        </div>

        <div class="product-wrapper">
          <ion-grid>
            <ion-row>
              <ng-container *ngFor="let product of products">
                <ion-col size="12" size-lg="4">
                  <app-product-item
                    *ngIf="product.categoryId === category.id"
                    (openModal)="setModifyProductOpen(true, $event)"
                    (openDeleteAction)="setRemoveAction(true, $event)"
                    [product]="product"
                    [isAuth]="isAuth$ | async"
                    [isAdmin]="isAdmin"
                    [isEditing]="isEditing"
                    [categories]="storeCategories"
                  >
                  </app-product-item>
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-grid>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ion-action-sheet
    [isOpen]="isRemoveActionOpen"
    (didDismiss)="setRemoveAction(false)"
    header="Do you really want to delete this product?"
    [subHeader]="removeActionSubHeader"
    [buttons]="[
      {
        text: 'Delete',
        role: 'destructive',
        handler: deleteProduct.bind(this),
        data: {
          action: 'delete',
        },
      },
      {
        text: 'Cancel',
        role: 'cancel',
      },
    ]"
  ></ion-action-sheet>

  <ion-toast
    position="bottom"
    [message]="productToastText"
    [isOpen]="isProductToastOpen"
    (didDismiss)="setProductToastOpen(false)"
    [duration]="3000"
    [buttons]="[
      {
        text: 'Dismiss',
        role: 'cancel',
      },
    ]"
  ></ion-toast>
</ion-content>
